<html>
<head>
<title>Certificate of SSL</title>
</head>
<body>
  <h4>Free Instant Certificate of SSL for any Existing HTTPS Public Web Site</h4>
  <form action='generate' method='post'>
    Domain: <input type='text' name='domain'>
    <input type='submit' value='Generate Certificate of SSL'>
  </form>
</body>
</html>
